.row {
    padding-bottom: 2.5rem;
    margin-bottom: 4rem;

    &__title {
        font-size: 2.5rem;
        margin-bottom: 1.55rem;
        font-weight: 500;
        padding: 0 60px;
        display: flex;
        align-items: center;
        color: white;
        
        &-link:visited,
        &-link:link {
            color: inherit;
        }
    }

    &__arrow {
        color: #54b9c5;
        margin-left: .5rem;
        font-size: 2rem;
        display: none;
    }

    &:hover &__arrow,
    &__hovered &__arrow {
        display: initial;
    }

    &__content {
        overflow-x: hidden;
        padding: 0 60px;
        position: relative;
    }
    
    &__slider {
        display: flex;
        gap: 4px;
        transition: all 1s ease-in;
        line-height: 0;
    }

    &__item {
        flex: 0 0 16.45%;
        transition: all 1s ease-in;
        position: relative;
    }

    &__image {
        width: 100%;
        aspect-ratio: 16 / 9;
        border-radius: 4px;
        object-fit: cover;
        object-position: top;
    }

    &__item-title {
        font-size: 1.3rem;
        font-weight: 600;
        width: 95%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        position: absolute;
        bottom: 1rem;
        cursor: initial;
    }
    
    &__item-title-text {
        display: inline-block;
        word-wrap: break-word;
        text-transform: uppercase;
        color: white;
        background-color: rgba(20, 20, 20, 1);
        padding: .2rem .8rem;
        border-radius: 10px;
        line-height: 1;
    }

    &:hover &__button,
    &__hovered &__button {
        opacity: 1;
    }

    &__button {
        width: 60px;
        position: absolute;
        background: rgba(20, 20, 20, 0.7);
        cursor: pointer;
        height: 100%;
        color: white;
        border: none;
        font-size: 5rem;
        top: 0;
        opacity: 0;
        display: inherit;

        &--left {
            left: 0;
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
        }

        &--right {
            right: 0;
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
        }

        &--disabled {
            color: gray;
            cursor: default;
        }

        &--noDisplay {
            display: none;
        }
    }
}

@media only screen and (max-width: 1366px) {
    .row {
        
        &__title,
        &__content {
            padding: 0 4%;
        }

        &__content {
            gap: 5.5px
        }

        &__item {
            flex: 0 0 19.6%;
        }

        &__button {
            width: 4%;
        }

        &__image {
            border-radius: 2px;
        }
    }
}