.popup {
    position: absolute;
    top: 20%;
    left: 50%;
    transition: transform .15s ease-in, opacity 0s;
    z-index: 10000;
    background-color: #141414;
    opacity: 0;
    cursor: pointer;

    &__image {
        aspect-ratio: 16 / 9;
        border-radius: 4px;
        object-fit: cover;
        object-position: top;
        opacity: 0;    
    }

    &__details {
        display: none;
        padding: 2rem;
    }

    &__buttons {
        display: flex;
        gap: 8px;
    }

    &__buttons svg {
        width: 2.4rem;
        height: 2.4rem;
    }

    &__play,
    &__button {
        padding: .6rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
    }

    &__button {
        background-color: #2A2A2A;
        border: 2px solid rgb(180, 180, 180);
        color: white;

        &:hover {
            border: 2px solid rgb(255, 255, 255);
        }
    }
    
    &__play {
        background-color: rgb(230, 230, 230);
        color: black;
    }

    &__down-arrow {
        font-size: 2rem;
        transform: rotateZ(90deg);
        width: 4rem;
        text-align: center;
        line-height: 0;
    }

    &__button:last-child {
        margin-left: auto;
    }

    &__title {
        font-size: 1.25rem;
        padding-top: 1rem;
        word-wrap: break-word;
    }

    &__genres {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
    }

    &__genre,
    &__genre:visited,
    &__genre:active {
        font-size: 1rem;
        color: white;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    &__genre:not(:first-child)::before {
        content: "";
        background-color: gray;
        width: 3px;
        height: 3px;
        display: block;
        border-radius: 50%;
    }
}